:root {
	color-scheme: light dark;
	--card: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--main-clr: rgb(174, 0, 255);
	--border: 1px solid #ccc;
	--icon-clr: black;
	--chip-bgc: hsl(0, 0%, 80%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--card: 0 1px 4px rgba(200, 200, 200, 0.2), 0 1px 2px rgba(200, 200, 200, 0.3);
		--border: 1.6px solid hsl(0, 0%, 40%);
		--icon-clr: white;
		--chip-bgc: hsl(0, 0%, 33%);
	}
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
}

body {
	font-family: BlinkMacSystemFont, Segoe UI, Roboto, "Fira Sans", Ubuntu, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	text-size-adjust: 100%;
	font-size: 100%;
	height: 100%;
	margin: 0;
	background-color: light-dark(hsl(0, 0%, 96%), black);
}

svg {
	fill: var(--icon-clr);
	height: 1.4em;
	width: 1.4em;
	vertical-align: middle;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
	scale: 1.2;
}

details {
	margin-left: 0.5em;
	font-size: 0.9rem;
}

button {
	padding: 0.4em;
	border-radius: 5px;
	box-shadow: var(--card);
	background-color: var(--btn-clr);
	cursor: pointer;
}

[popover] {
	border: none;
	margin: 0;
	color: inherit;
	border-radius: 0.4em;
	box-shadow: var(--card);
	background-color: light-dark(white, hsl(0, 0%, 20%));
	inset: unset;
}

dialog {
	border: none;
	box-shadow: var(--card);
	color: inherit;
	background-color: light-dark(white, hsl(0, 0%, 16%));
	translate: 0 -150%;

	&::backdrop {
		background-color: rgb(0 0 0 / 0.4);
	}

	&[open] {
		animation: slide-from-top 500ms ease-out forwards;
	}
}

/* snackbar  */
#snackbar {
	min-width: 8em;
	background-color: light-dark(#6b6a69, #5e5f5f);
	color: light-dark(rgb(255, 145, 0), rgb(245, 140, 3));
	text-align: center;
	border-radius: 1em;
	padding: 0.6em;
	position: fixed;
	z-index: 1000;
	left: 25%;
	bottom: 2em;
	width: max-content;
	translate: 0 280%;
	animation: in-out 5s ease-out;
}

@keyframes in-out {
	10%,
	90% {
		translate: 0 0;
	}
}

@keyframes slide-from-top {
	to {
		translate: 0 0;
	}
}
