tutorial-steps-container {
	display: flex;
	column-gap: 0.5em;
}

timeline-bar {
	width: 5px;
	margin-left: 0.63em;
	background-color: light-dark(gray, hsl(0, 0%, 40%));
	counter-reset: step;

	&::after {
		--height: 0; /* Track last completed timeline dot */
		content: "";
		display: block;
		height: var(--height);
		background-color: green;
	}

	& timeline-dot {
		counter-increment: step;
		position: absolute;
		top: anchor(top);
		transform: translateX(-40%);

		&[data-status="active"] {
			&:first-child:before {
				content: "";
				position: absolute;
				inset: 0;
				background-color: transparent;
				border-radius: 50%;
				box-shadow: 0px 0px 2px 4px #db2828;
				animation: active 2s infinite linear;
			}
		}

		&[data-status="completed"] {
			--size: 1.2em;
			background-color: lime;

			& > div::before {
				content: "✓";
				color: white;
			}
		}

		& > div::before {
			content: counter(step);
			color: red;
			font-size: 0.9rem;
			font-weight: 500;
			text-shadow: 1px 1px 1px var(--coin-shadow);
			text-align: center;
		}
	}
}

steps-list {
	display: flex;
	flex-direction: column;
	row-gap: 0.6em;
	padding: 0.5em;
}

@scope (step-card) {
	:scope {
		display: flex;
		flex-direction: column;
		row-gap: 0.5em;
		padding: 0.5em;
		border-radius: 0.5em;
		box-shadow: var(--card);
		background-color: light-dark(white, hsl(0, 0%, 16%));

		&:not([data-status="active"]) {
			& figure,
			& blockquote,
			& step-action-btns {
				display: none;
			}

			& .step-instruction {
				line-clamp: 1;
			}
		}

		&[data-status="active"] {
			border: 2px solid var(--main-clr);
		}

		&[data-status="completed"] {
			opacity: 0.5;
		}
	}

	header {
		display: flex;
		column-gap: 0.5em;
		align-items: center;

		& svg {
			height: 1.8em;
			width: 1.8em;
		}

		& h3 {
			font-size: 1rem;
			margin-block: 0;
		}

		& .number-coin {
			margin-left: auto;
		}
	}

	.step-instruction {
		font-size: 0.9rem;
		margin-block: 0;
		color: light-dark(rgb(66, 65, 65), rgb(170, 170, 170));
	}

	blockquote {
		margin: 0;
		background: light-dark(whitesmoke, black);
		border-left: 4px solid var(--main-clr);
		padding: 0.8em;
		border-radius: 0.5em;
		font-size: 13px;
		/* color: var(--main-clr); */
	}

	figure {
		margin: 0.5em 1em;
		object-fit: contain;

		& img {
			max-height: 5lh;
			/* max-width: 100%; */
			border-radius: 0.5em;
			box-shadow: var(--card);
		}
	}

	.step-actions {
		text-align: center;
	}
}

/* Number coin */
timeline-dot {
	--size: 1.5em;
	--ring-width: 0.2em;
	--coin-shadow: light-dark(rgb(0, 0, 0, 0.2), rgb(200, 200, 200, 0.2));
	border-radius: 50%;
	height: var(--size);
	inline-size: var(--size);
	box-shadow: var(--card);
	padding: var(--ring-width);
	background-color: light-dark(hsl(0, 0%, 100%), rgb(60, 60, 60));

	& > div {
		border-radius: 50%;
		height: calc(var(--size) - var(--ring-width) * 2);
		inline-size: calc(var(--size) - var(--ring-width) * 2);
		box-shadow: inset 0 1px 2px 2px var(--coin-shadow);
		padding: 0.2em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

step-action-btns {
	display: flex;
	column-gap: 0.5em;

	& button {
		padding-block: 2px;
	}

	& .outline-btn,
	& .ask-ai-btn {
		border: none;
		background-color: inherit;
		box-shadow: unset;
	}

	& .ask-ai-btn {
		font-size: small;
		margin-left: auto;
	}

	& .Not_Found {
		color: red;

		&::after {
			content: "⟳";
			color: red;
		}
	}
}

@keyframes active {
	0% {
		scale: 0.1;
		opacity: 1;
	}
	70% {
		scale: 1.5;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
