:root {
	color-scheme: light dark;
	--card: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--main-clr: rgb(135, 18, 245);
	--border: 1.6px solid #ccc;
	--icon-clr: hsl(0, 0%, 5%);
	--popup-bgc: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--card: 0 1px 4px rgba(200, 200, 200, 0.2), 0 1px 2px rgba(200, 200, 200, 0.3);
		--border: 1.6px solid hsl(0, 0%, 48%);
		--bg-bgc: hsl(0, 0%, 6%);
		--popup-bgc: hsl(0, 0%, 22%);
		--icon-clr: white;
	}
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}

body {
	font-family: BlinkMacSystemFont, Segoe UI, Roboto, "Fira Sans", Ubuntu, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: 100%;
	font-size: 100%;
	margin: 0;
	min-width: 30rem;
	min-height: 10lh;
	text-rendering: optimizeSpeed;
}

svg {
	height: 1.5em;
	vertical-align: middle;
	fill: var(--icon-clr);
	cursor: pointer;
}

[popover] {
	border: none;
	margin: 0;
	color: inherit;
	box-shadow: var(--card);
	background-color: var(--popup-bgc);
	inset: unset;
}

ul,
menu {
	padding-left: 0;
	margin-block: 0;
}

li,
summary {
	list-style-type: none;
}

main {
	display: flex;
	min-height: 100vh;

	& collections-explorer {
		flex-basis: 14%;
		flex-shrink: 0;
		background-color: light-dark(hsl(0, 0%, 92%), hsl(0, 0%, 12%));
		border-right: var(--border);
	}

	& collections-board {
		flex-grow: 1;
		background-color: light-dark(hsl(0, 0%, 95%), hsl(0, 0%, 16%));
		position: relative;
	}
}

dialog {
	border: none;
	padding: 0.5em;
	box-shadow: var(--card);
	border-radius: 0.4em;
	color: inherit;
	background-color: light-dark(white, hsl(0, 0%, 25%));

	&::backdrop {
		background-color: rgb(0 0 0 / 0.4);
	}

	&[open] {
		animation: slide-from-bottom 0.6s ease-out normal;
	}

	& > button {
		background-color: dodgerblue;
		text-align: center;
		box-shadow: var(--card);
		border-radius: 7px;
		padding: 0.5em 1.5em;
		font-weight: bold;
		font-size: 1rem;
		color: #ffffff;
		cursor: pointer;
	}
}

#snackbar,
action-snackbar {
	display: block;
	min-width: 20ch;
	font-size: 20px;
	background-color: #333;
	color: rgb(255, 208, 0);
	text-align: center;
	border-radius: 12px;
	padding: 4px 8px;
	position: fixed;
	z-index: 1000;
	margin-inline: auto;
	inset-inline: 0;
	bottom: 20px;
	width: max-content;
	translate: 0 200%;
	animation: in-out 5s ease-out;

	&.error {
		top: 20px;
		bottom: unset;
		background-color: red;
		color: white;
		translate: 0 -200%;
	}
}

action-snackbar {
	min-width: 24ch;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 8px;
	font-size: 16px;

	& .undo-btn {
		margin-left: auto;
		border-radius: 5px;
		padding: 2px 5px;
		font-size: 0.8rem;
		color: white;
		background-color: dodgerblue;

		& + span {
			font-size: 12px;
		}
	}
}

@keyframes in-out {
	10%,
	90% {
		translate: 0 0;
	}
}
