.target-elem::before {
	content: "";
	position: absolute;
	inset: 0;
	isolation: isolate;
	background-color: rgb(0, 0, 0, 0.8);
	z-index: -1;
}

handrail-beacon {
	position: absolute;
	z-index: 5000;
	width: 20px;
	height: 20px;
	border: 5px solid #ff0000;
	border-radius: 50%;
	animation: pulse 1.5s infinite;
	pointer-events: none;
	visibility: visible !important;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

/* handrail-beacon {
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	position: absolute;

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 0, 0, 0.6);
		border-radius: 50%;
		opacity: 0;
	}

	&:before {
		transform: scale(1);
		animation: blink 1.6s infinite linear;
	}

	&:after {
		animation: blink 1.6s 1.2s infinite linear;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
		transform: scale(0.4);
	}
	33.33333% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}
 */
